@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto-v29-latin-regular.woff2') format('woff2'),
         url('./fonts/roboto-v29-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto-v29-latin-700.woff2') format('woff2'),
         url('./fonts/roboto-v29-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/nunito-sans-v8-latin-regular.woff2') format('woff2'),
         url('./fonts/nunito-sans-v8-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/nunito-sans-v8-latin-700.woff2') format('woff2'),
         url('./fonts/nunito-sans-v8-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

$background-banner: #284854;
$background-header: #60C1BD;
$title-h2-h4: #8BC441;
$basic: #284854;

$roboto: 'Roboto', 'Nunito Sans', 'Tachoma', sans-serif;

@mixin title-h3 {
    font-size: 55px;
    line-height: 64px;
    font-weight: 700;  
}

@mixin title-p {
    font-size: 22px;
    color: #60C1BD;
    line-height: 30px;
    font-weight: 700;  
}

@mixin footer-list {
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
    padding-bottom: 18px;
}

@mixin pseudo( $pos: absolute, $content: '') {
    content: $content;
    position: $pos;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Roboto', 'Tachoma', sans-serif;
    color: $basic;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition-duration: 0.7s;

    &:hover {
        color: #4888d3;
    }

    &:active {
        color: #2862a6;
    }
}

.section__banner {
    background-color: $background-banner;
    padding-top: 25px;
}

.header {
    margin: 0 110px 120px;
    background-color: $background-header;
    border-radius: 100px;
    position: fixed;
    z-index: 1;
    width: 88%;
    cursor: pointer;
    transition-duration: 0.7s;

    &__nav__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        ul {
            list-style: none;
            display: flex;

            li {
                font-size: 18px;
                line-height: 24px;
                color: #284854;
            }
            
            & li:nth-child(2) {
                padding: 0 84px;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 10px #325f93,
                    0 0 15px #407abd;
    }
}

.header__burger {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 10px 7px;

    &::after, &::before {
        @include pseudo;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        left: 0;
    }

    &::before {
        top: 0;
        transition-duration: 0.7s;
    }

    & span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        top: 19px;
        left: 0;
        transition-duration: 0.7s;
    }
}

.header__burger:hover {

    &::before {
        transform: rotate(45deg);
        top: 18px;
        background-color: #EC6F5D;
    }

    & span {
        transform: rotate(-45deg);
        bottom: -9px;
        background-color: #EC6F5D;
    }

    &::after {
        transform: scale(0);
    }
}

.nav__menu__logo {
    padding-left: 35px;
}

.nav__menu__login {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    margin-right: 80px;
    border: 2px solid #ffffff;
    padding: 5px 25px;
}

.container {
    padding: 220px 173px 80px;
}

.section__banner__content {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.banner__content-text {
    max-width: 67%;
    margin-right: 50px;

    h2 {
        font-family: $roboto;
        color: $title-h2-h4;
        font-size: 85px;
        line-height: 102px;
        margin-bottom: 60px;
    }

    p {
        font-size: 20px;
        color: #FFFFFF;
        line-height: 28px;
        max-width: 65%;
    }
}

.banner__content-img {
    max-width: 33.8%;
    padding-top: 40px;

    img {
        max-width: 100%;
    }
}

//  over-box  //

.over__box {
    display: flex;
    justify-content: center;
    margin: -75px 0 174px;

    div {
        background-color: #F4F6F0;

        a {
            color: $title-h2-h4;
            font-size: 37px;
            font-family: $roboto;
            line-height: 43px;
            margin-bottom: 10px;

            &:hover {
                color: #4888d3;
            }
        }

        p {
            font-size: 20px;
            color: #60C1BD;
            line-height: 27px;
        }
    }
}

.box {
    display: flex;
    padding: 45px 80px 45px 30px;
    transition-duration: 0.7s;

    &:hover {
        box-shadow: 0 0 5px #548fd5,
                    0 0 10px #91b7e4,
                    0 0 15px #91e1e4,
                    0 0 20px #bad2ee;
    }
}

.box__img {
    margin-right: 45px;
}

.box1 {
    margin-right: 83px;
}

// content-works // 

.container2 {
    padding: 0 200px 0;
}

.content__works-title {
    text-align: center;
    margin-bottom: 140px;

    p {
        @include title-p;
    }

    h3 {
        @include title-h3;
    }
}

.content__works-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.item-img {
    max-width: 27.5%;
    transition-duration: 0.5s;
    cursor: pointer;

    &:hover {
        transform: rotate(360deg);
    }

    img {
        max-width: 100%;
    }
}

.item-text {
    max-width: 50.5%;

    & p:first-child {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: #798B56;
        padding-bottom: 10px;
    }

    h4 {
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        color: $title-h2-h4;
        font-family: $roboto;
        padding-bottom: 10px;
    }

    p {
        line-height: 29px;
    }
}

// content__works-mission // 

.content__works-mission {
    display: flex;
    background-color: #F4F6F0;
    padding: 80px 200px 175px;
}

.mission__img {
    margin-right: 112px;

    img {
        max-width: 100%;
    }
}

.mission__text {

    & p:first-child {
        @include title-p;
        padding-bottom: 5px;
    }

    h3 {
        @include title-h3;
        padding-bottom: 30px;
    }

    p {
        font-size: 18px;
        line-height: 32px;
        padding-bottom: 50px;
    }

    button {
        line-height: 22px;
        color: #60C1BD;
        padding: 5px;
        border: 1px solid #60C1BD;
        transition-duration: 1.5s;

        &:hover {
            background-color: #9ee4e7;
            color: #ffffff;
            transform: scale(2);
        }
    }
}

// content__works-sounds //

.content__works-sounds {
    display: flex;
    background-color: #8BC441;
    padding: 80px 200px;
    margin-bottom: 120px;
}

.sounds__img {
    margin-right: 175px;

    img {
        max-width: 100%;
    }
}

.sounds__text {
    max-width: 65%;

    h3 {
        @include title-h3;
        color: #FFFFFF;
        padding-bottom: 50px;
    }
}

.sounds__box {
    display: flex;
    justify-content: space-between;

    p {
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        max-width: 37%;
    }
}

// footer //

.footer__menu {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;

    p {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 25px;
    }

    a {
        @include footer-list;

        &:hover {
            color: #4888d3;
        }
    }
}

.footer__img {
    margin-bottom: -25px;

    img {
        max-width: 100%;
    }
}

.footer__contact {

    a {
        @include footer-list;
        font-family: $roboto;
        font-size: 16px;
        padding-bottom: 4px;

        &:hover {
            color: #4888d3;
        }
    }

    & a:nth-child(4) {
        padding-bottom: 30px;
    }
}

.footer__menu-list {
    display: flex;
    margin-bottom: 40px;

    a {
        @include footer-list;
        padding-right: 40px;

        &:hover {
            color: #4888d3;
        }
    }
}

.footer__end {
    margin-bottom: 45px;

    p {
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 1125px) {
    .header {
        margin: 0 110px 0;
        position: static;
        z-index: 0;
    
        &__nav__menu {
            padding: 15px 0;
        }
    }

    .container {
        padding: 150px 173px 80px;
    }
    
    .section__banner__content {
        padding-bottom: 150px;
    }
    
    .banner__content-text {
        margin-right: 50px;
    
        h2 {
            font-size: 65px;
            line-height: 80px;
            margin-bottom: 50px;
        }
    
        p {
            max-width: 100%;
        }
    }

    //  over-box  //

    .over__box {
        margin: -75px 0 135px;
    }

    .box {
        padding: 35px 70px 35px 20px;
        max-width: 40%;
    }

    .box__img {
        margin-right: 35px;
    }

    .box1 {
        margin-right: 73px;
    }

    // content-works // 

    .container2 {
        padding: 0 20px 0;
    }

    .content__works-item {
        justify-content: space-between;
    }

    .content__works-title {
        margin-bottom: 120px;
    }

    .item-img {
        max-width: 50%;
    }
    
    .item-text {
        max-width: 50%;
    }

    // content__works-mission // 

    .content__works-mission {
        padding: 50px 100px 80px;
    }

    .mission__img {
        margin-right: 80px;
    }

    // content__works-sounds //

    .content__works-sounds {
        padding: 50px 80px;
        margin-bottom: 80px;
    }

    .sounds__img {
        margin-right: 100px;
    }

    .sounds__text {
        max-width: 65%;

        h3 {
            font-size: 50px;
        }
    }

    .sounds__box {
        display: flex;
        justify-content: space-between;

        p {
            max-width: 40%;
        }
    }
}

@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
    }

    .header {
        margin: 0;
        width: 100%;

        &__nav__menu {
            justify-content: space-around;

            ul {
                display: none;
            }
        }
    }

    .nav__menu__logo {
        padding-left: 0;
    }
    
    .nav__menu__login {
        margin-right: 0;
    }

    .container {
        padding: 50px;
    }
    
    .section__banner__content {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
    
    .banner__content-text {
        max-width: 100%;
        margin-right: 50px;
        text-align: center;
        margin: 0;
    
        h2 {
            font-size: 65px;
            line-height: 75px;
            margin-bottom: 30px;
        }
    
        p {
            font-size: 25px;
        }
    }
    
    .banner__content-img {
        max-width: 100%;
        padding-top: 20px;
    }

    //  over-box  //

    .over__box {
        flex-direction: column;
        align-items: center;
        margin: -75px 0 80px;

        div {
            background-color: #F4F6F0;

            a {
                font-size: 40px;
                line-height: 50px;
            }

            p {
                font-size: 25px;
            }
        }
    }

    .box {
        padding: 35px 70px 35px 20px;
        max-width: 85%;
        border-radius: 20px;
    }

    .box__img {
        margin-right: 35px;

        img {
            width: 100%;
        }
    }

    .box1 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    // content-works // 

    .container2 {
        padding: 0 20px 0;
    }

    .content__works-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__works-item {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        max-width: 90%;
        padding-bottom: 30px;
    }

    .content__works-title {
        margin-bottom: 30px;
    }

    .item-img {
        max-width: 60%;
        order: 1;
    }
    
    .item-text {
        max-width: 100%;

        p {
            font-size: 18px;
        }
    }

    // content__works-mission // 

    .content__works-mission {
        padding: 50px;
        flex-direction: column;
        justify-content: center;
    }

    .mission__img {
        margin-right: 0;
        order: 1;
        display: flex;
        justify-content: center;
    }

    .mission__text {
        text-align: center;
        padding-bottom: 30px;

        h3 {
            padding-bottom: 20px;
        }

        p {
            font-size: 20px;
            padding-bottom: 30px;
        }

        button {
            font-size: 20px;
            padding: 10px 30px;
            border: 2px solid #60C1BD;
        }
    }

    // content__works-sounds //

    .content__works-sounds {
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        margin-bottom: 30px;
    }

    .sounds__img {
        order: 1;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .sounds__text {
        max-width: 100%;
        text-align: center;

        h3 {
            font-size: 50px;
        }
    }

    .sounds__box {
        display: flex;
        justify-content: space-between;

        p {
            max-width: 40%;
            font-size: 24px;
        }
    }

    // footer //

    .footer__menu {
        justify-content: space-around;
        margin-bottom: 35px;
    }

    .footer__item {
        display: none;
    }

    .footer__contact {
        display: flex;

        p {
            font-size: 16px;
        }

        a {
            font-size: 20px;
            padding-bottom: 7px;
        }
    }

    .footer__menu-list {
        justify-content: center;
        margin-bottom: 20px;

        a {
            padding-right: 20px;
            font-size: 18px;
        }
    }

    .footer__end {
        margin-bottom: 45px;
        text-align: center;

        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 426px) {
    .container {
        padding: 20px;
    }

    .banner__content-text {

        h2 {
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
        }
    }
    .container2 {
        padding: 0;
    }

    .box {
        padding: 25px;
        align-items: center;
    }

    .box__img {
        display: none;
    }

    .over__box {
        margin-bottom: 50px;

        div {
            a {
                font-size: 35px;
            }
    
            p {
                font-size: 20px;
            }
        }
    }

    .content__works-title {

        h3 {
            font-size: 45px;
            line-height: 47px;
        }
    }

    .item-text {

        h4 {
            font-size: 32px;
            line-height: 37px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }
    }

    .content__works-mission, .content__works-sounds {
        padding: 20px;
    }

    .mission__text {

        h3 {
            font-size: 42px;
            padding: 0;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            padding-bottom: 20px;
        }
    }

    .sounds__text {

        h3 {
            font-size: 38px;
            line-height: 42px;
            padding-bottom: 25px;
        }
    }

    .sounds__box {

        p {
            font-size: 18px;
            line-height: 20px;
        }
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

    .footer__menu-list {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        a {
            padding-right: 20px;
            font-size: 18px;
        }
    }

    .footer__end {
        margin-bottom: 45px;
        text-align: center;

        p {
            font-size: 16px;
        }
    }
}

